<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="[% settings.charset %]">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lystyng</title>
    <link rel="icon" type="image/x-icon" href="[% request.uri_base %]/favicon.ico" />
    <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap.min.css" />
    <link rel="stylesheet" href="[% request.uri_base %]/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="[% request.uri_base %]/css/style.css">
    <link href="[% request.uri_base %]/css/jumbotron-narrow.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.js"><\/script>')
/* ]]> */</script>
    <script src="[% request.uri_base %]/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Lystyng</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/albums/">Albums</a></li>
            <li><a href="/artists/">Artists</a></li>
            <li><a href="/songs/">Songs</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
           <li>[% IF session.user; '<a>' _ session.user _ '</a>'; ELSE %]<a href="/register">Register</a>[% END %]</li>
	   <li>[% IF session.user %]<a href="/logout">Logout</a>[% ELSE %]<a href="/login">Login</a>[% END %]</li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
    </div>
    <!-- Static navbar -->
    <div class="container">
[% content %]
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">Made by
	  <a href="https://twitter.com/davorg">@davorg</a>.</p>
      </div>
    </nav>
  </body>
</html>
