[% IF error -%]
<p>That username and/or password is incorrect.</p>
[% END -%]
<form class="form-signin" role="form" method="post" action="/login">
  <h2 class="form-signin-heading">Please sign in</h2>
  <input type="text" class="form-control" placeholder="Username" name="username" value="[% params.username %]" required autofocus>
  <input type="password" class="form-control" placeholder="Password" name="passoword" value="[% params.password %]" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
